@media screen and (max-width: 400px){
  .menu_button{
    display: block;
    margin-right: 3vh;
    
  }

  .nav_button{
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* display: inline-block; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container > nav > ul > li{
      display: inline-block;
      padding: 0ch 3ch;
      font-size: 1.5ch;
      border-bottom: 0px;
      margin-left: 1ch;
  }

  .container > nav > ul > li > a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .container > nav > ul > li > a:hover:after{
    width: 100%; 
    left: 0; 
  }
  
  .container > nav{
    box-sizing: border-box;
    display: none;
  }


  .container > nav > ul{
    list-style: none;
    font-size: 2.5ch;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
  }

  .logo{
    height: 10ch;
    width: 15ch;
    cursor: pointer;
    margin-right: auto;

  }

  .logo > Image{
    height: 10ch;
    width: 15ch;
    margin-bottom: 1vh;
  }

  .input_box{
    width: 50vh;
    padding: 10px;
    margin-bottom: 1ch;
    border-radius: 1ch;
    border: 1px solid rgb(172, 172, 172);
  }
}

@media screen and (max-width: 1000px){
  .nav_button{
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* display: inline-block; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container > nav > ul > li{
      display: inline-block;
      padding: 0ch 3ch;
      font-size: 1.5ch;
      border-bottom: 0px;
      margin-left: 1ch;
  }

  .container > nav > ul > li > a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .container > nav > ul > li > a:hover:after{
    width: 100%; 
    left: 0; 
  }
  
  .container > nav{
    box-sizing: border-box;
    display: none;
  }


  .container > nav > ul{
    list-style: none;
    font-size: 2.5ch;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
  }

  .logo{
    height: 10ch;
    width: 15ch;
    cursor: pointer;
    margin-right: 15vh;
  }

  .logo > Image{
    height: 10ch;
    width: 15ch;
    margin-bottom: 1vh;
  }

  .input_box{
    width: 30vh;
    padding: 10px;
    margin-bottom: 1ch;
    border-radius: 1ch;
    border: 1px solid rgb(172, 172, 172);
  }
}


@media screen and (min-width:1001px) {
  .menu_button{
    display: none;
  }
  .nav_button{
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* display: inline-block; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container > nav > ul > li{
      display: inline-block;
      padding: 0ch 3ch;
      font-size: 1.5ch;
      border-bottom: 0px;
      margin-left: 1ch;
  }

  .container > nav > ul > li > a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .container > nav > ul > li > a:hover:after{
    width: 100%; 
    left: 0; 
  }
  
  .container > nav{
    box-sizing: border-box;
  }


  .container > nav > ul{
    list-style: none;
    font-size: 2.5ch;
    margin-left: 10px;
  }

  .logo{
    height: 10ch;
    width: 15ch;
    cursor: pointer;
    margin-bottom: 1ch;
    margin-right: auto;
  }

  .logo > Image{
    height: 10ch;
    width: 15ch;
  }

  .input_box{
    width: 50vh;
    padding: 10px;
    margin-bottom: 1ch;
    border-radius: 1ch;
    border: 1px solid rgb(172, 172, 172);
  }

}

