@media (min-width:384px) {
    .container {
    opacity: 1;
    min-height: 10vh;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10vh;
    /* display: inline-block; */

  }

  .container > ul > li{
      list-style-type: none;
      display: inline-flex;
      padding: 1vh 1vh 1vh 7vh;
      font-size: 2.5ch;
  }
}
