@media screen and (min-width: 500px){
  .nav_button{
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* display: inline-block; */
    position: sticky;
  }

  .container > nav > ul > li{
      display: inline-block;
      padding: 0ch 3ch;
      font-size: 1.5ch;
      border-bottom: 0px;
      margin-left: 1ch;
  }

  .container > nav > ul > li > a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .container > nav > ul > li > a:hover:after{
    width: 100%; 
    left: 0; 
  }
  
  .container > nav{
    box-sizing: border-box;
  }


  .container > nav > ul{
    list-style: none;
    font-size: 2.5ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
  }

  .logo{
    height: 10ch;
    width: 15ch;
    cursor: pointer;
    margin-top: 3vh;
    margin-right: auto;
  }

  .logo > Image{
    height: 10ch;
    width: 15ch;
  }
}



@media screen and (min-width: 1920px) {
  .nav_button{
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* display: inline-block; */
  }

  .container > nav > ul > li{
      display: inline-block;
      padding: 0ch 3ch;
      font-size: 1.5ch;
      border-bottom: 0px;
      margin-left: 1ch;
  }

  .container > nav > ul > li > a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .container > nav > ul > li > a:hover:after{
    width: 100%; 
    left: 0; 
  }
  
  .container > nav{
    box-sizing: border-box;
  }


  .container > nav > ul{
    list-style: none;
    font-size: 2.5ch;
    margin-left: 10px;
  }

  .logo{
    height: 10ch;
    width: 15ch;
    cursor: pointer;
    margin-top: 3vh;
    margin-right: auto;
  }

  .logo > Image{
    height: 10ch;
    width: 15ch;
  }

}