.container {
    background-image: url("/discussions.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100vh;
    background-color: #F4F4F4;
    opacity: 1;
    min-height: 88vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 85vh; */
    max-height: 100%;

  }

  .box {
    background-color: #29226E;
  }