.container {
    /* background-image: url("/BG.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #F4F4F4;
    opacity: 1;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    /* max-height: 100%; */
    top: 0;
  }

  .container2 {
    /* background-image: url("/BG.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #2E2E2E;
    opacity: 1;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    /* max-height: 100%; */
    top: 0;
  }
  
  .button1 {
    padding: 5px;
    background-color: grey;
    width: 50px;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
  }
  .button2 {
    padding: 5px;
    background-color: red;
    width: 100px;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
  }
  .button3 {
    padding: 5px;
    background-color: blue;
    width: 100px;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
  }
  .button4 {
    padding: 5px;
    background-color: rgb(238, 255, 0);
    width: 100px;
    color: black;
    border-radius: 10px;
    margin-right: 5px;
  }
  .button5 {
    padding: 5px; 
    background-color: green;
    width: 100px;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
  }

  .cpbutton{
    padding: 10px;
    background-color: #29226E;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 5px;
    font-family: 'Raleway', sans-serif;
  }

  .cpbutton2{
    padding: 10px;
    background-color: #1D447E;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 5px;
    font-family: 'Raleway', sans-serif;
  }

  .halls {
    /* background-image: url("/discussions.png");
    background-position: center;
    background-repeat: repeat; */
    background-color: #3778DA;
  }

  .technology {
    background-image: url("/Technology-Critique.png");
    background-position: center;
    background-size: 12em;
    background-repeat: no-repeat;
    background-color: #4A79D4;
  }

  .technology:hover {
    transform: scale(1.5); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .technology:focus {
    transform: scale(1.5); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .arts {
    background-image: url("/Arts-Critique.png");
    background-position: center;
    background-size: 12em;
    background-repeat: no-repeat;
    background-color: #DCAF0F;
  }

  .arts:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .arts:focus {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .business {
    background-image: url("/Business-Critique.png");
    background-position: center;
    background-size: 12em;
    background-repeat: no-repeat;
    background-color: #9E0B0F;
  }

  .business:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .business:focus {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .lounge {
    background-image: url("/Lounge-Critique.png");
    background-position: center;
    background-size: 12em;
    background-repeat: no-repeat;
    background-color: #00A99D;
  }

  .lounge:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .lounge:focus {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



