.container {
    /* background-image: url("/BG.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #f3f3f3;
    opacity: 1;
    min-height: 88vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 85vh; */
    max-height: 100%;
    z-index: 0;
  }

.button1 {
  padding: 5px;
  background-color: grey;
  width: 23%;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
}
.button2 {
  padding: 5px;
  background-color: red;
  width: 23%;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
}
.button3 {
  padding: 5px;
  background-color: blue;
  width: 23%;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
}
.button4 {
  padding: 5px;
  background-color: green;
  width: 23%;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
}
/* .button5 {
  padding: 5px;
  background-color: rgb(238, 255, 0);
  width: 50px;
  color: black;
  border-radius: 10px;
  margin-right: 3px;
} */

.flexbox{
  display: block;
}


@media (max-width: 320px){
  .flexbox{
    display: hidden;
  }

  .button1 {
    display: hidden;
  }
  .button2 {
    display: hidden;
  }
  .button3 {
    display: hidden;
  }
  .button4 {
    display: hidden;
  }
}
  
  
  