.container {
    background-image: url("/Banner.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    
  }

  .main {
    /* background-color:#fff; */
    position: absolute;
    width: 60ch;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgb(235, 235, 235);
    border-left: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(235, 235, 235);
    overflow: visible;
    /* border-radius: 2ch; */
    right: 0;
    font-family: 'Raleway', sans-serif;
  }

  /* .login_container{
    box-shadow: 5px 10px;
  } */

  .input_box{
    width: 30vh;
    padding: 10px;
    margin-bottom: 1ch;
    border-radius: 1ch;
    /* border: 1px solid rgb(92, 92, 92); */
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  }

  .login_button {
    margin-top: 5ch;
    width: 100%;
    height: 6ch;
    padding: 1ch 5ch;
    border: none;
    border-radius: 1ch;
    background-color: rgb(51, 139, 255);
    color: #fff;
  }

  .register{
    margin-top: 1ch;
    color: rgb(0, 60, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  }

  .register:hover {
    text-decoration: underline;
  }

  .register2{
    margin-top: 2ch;
    /* color: rgb(0, 60, 255); */
    text-align: center;
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  }

  .logo{
    height: 15ch;
    width: 30ch;
    margin-bottom: 8ch;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }

  .LoginButton {
    margin-top: 1rem;
  }

  .signUpText {
    color: rgb(0, 60, 255);
  }

  .signUpText:hover {
    text-decoration: underline;
  }

  .discussions {
    width: 328px;
    height: 228px;
    left: 1592px;
    top: 852px;
  }
  