.container {
  background-image: url("/Background1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #F4F4F4;
    opacity: 1;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 85vh; */
    max-height: 100%;
    z-index: 0;
  }

  .container2 {
    background-image: url("/Background1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #2E2E2E;
    opacity: 1;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 85vh; */
    max-height: 100%;
    z-index: 0;
  }